*{
    padding: 0;
    margin: 0;
    border: 0;
}

.wrapper{
    position: relative;
    width: 1440px;
    height: 1555px;

    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px ;
    background: #FFFFFF;

}

.header{
    display: flex;
    width: 100%;
    height: 90px;

    background-color: #EDD603;
    

}
  

.logo1{
    height: 70px;
    width: 70px;
    padding-left: 30px;
    padding-top: 10px;
}

.title{
    margin-top: 25px;
    padding-left: 25px;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;

    color: #652D90;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1081; 
    margin-top: 40px;
}

.card{
    margin-top: 40px;
    margin-left: 45px;
    flex: 0 0 0%;
    width: 100%;

    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img{
    border-radius: 20px 20px 0px 0px;  
}

.h2{
    padding-left: 10px;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.footer{
    display: flex;
    width: 100%;
    height: 250px;
    margin-top: 450px;

    background-color: #535252;
}   


.column{
    height:300px;
    width: 21%;
    padding-top: 25px;
    padding-left: 25px;
}

.list{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    color: #FFFFFF;
}

.nav{
    padding-top: 5px;
    padding-left: 7px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size:  1.40rem;
    line-height: 21px;

    list-style-type: none;
    color: #FFFFFF; 
}

.search{
    padding-left: 0%;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.logo2{
    padding-top: 0px;
    padding-right: 30px;
    margin-left: 140px;
    width: 80%;
    height: 200px;
}

h3{ 
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    text-align: end;
   
    color: #ffffffde;
}

@media screen and (max-width: 767px) and (min-width: 320px) {

.wrapper{
    position: relative;
    width: 320px;
    height: 1779px;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    background-color: #ffffff;

}  

.header{
    width: 320px;
    height: 78px;
   

    background: #EDD603;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
  }

.logo1{
    width: 40px;
    height: 40px;
    padding-left: 16px;
    padding-top: 19px;
}

.title{
    width: 207px;
    height: 28px;
    left: 76px;
    top: 25px;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #652D90;
}

.container{
    display: flex;
    flex-wrap: wrap;
  
    width: 288px;
    height: 760px;
    margin-left: 16px;
}
  
.card{
    width: 130px;
    height: 175px;
    margin-top: 10px;
    margin-left: 3%;

    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
.img{
    width: 130px;
    height: 137px;

    border-radius: 20px 20px 0px 0px;  
}

.h2{
width: 92px;
height: 21px;
left: 7px;
top: 143px;

font-family: 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.footer{
display: block;
width: 288px;
height: 889px;
margin-top: 10px;
margin-left: 25px;

background: #535252;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
border-radius: 10px;
}

.column{
width: 288px;
height: 161px;  
}

.list{
font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.nav{
font-weight: 400;
font-size: 18px;
line-height: 21px; 
}

.search{
margin-top: 5px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
}

/* .column1{
width: 288px;
height: 222px;
} */

.logo2{
width: 181px;
height: 181px;
margin-left: 20px;
}

.h3{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 21px;
margin-right: 85px;
    
text-align: center;
color: #FFFFFF;
}
}

