*{
    margin:0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
}

div:first-child {
    color:red;
}

div:nth-child(2):hover {
    color:orange;
    font-weight: lighter;
}

div:nth-child(3)::first-letter {
    color: yellow;
}

div:nth-child(4)::selection {
    color: green;
}

div:nth-child(5):active {
    color:skyblue;
}

div:nth-child(6)>span{
    color: blue;
}

div:not(:last-child){
    font-weight:bold;
}

div:last-child{
    color: blueviolet;
}

div:last-child>span{
    color: black;
    font-weight: bolder;
}
