*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    position: relative;
    
}
.header{
    position: fixed;
    top: 5px;
    width: 1440px;
    height: 89px;
    background-color: #590BFF;
    border: 1px solid black;
    z-index: 1;
}
.h1{
    padding-top: 45px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: white;
}
.sidebar-section{
    position: absolute;
    display: inline-block;
    top: 30px;
    width: 282px;
    height: 457px;
    margin-top: 160px;
  
}

.container {
    position: relative;
    display: flex;
    padding-top: 100px;
    padding-left: 200px;
    flex-direction: column;
}

.text{
    padding-left: 10px;
    font-size: 20px;
    color: #000000;
    text-align: left;
 }

.search{
    padding-top: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    text-decoration-line:underline;
    color: #FF710B;
}
.divider{
    position: absolute;
    top: 0px;
    width: 2px;
    height: 450px;
    left: 185px;
    background: #C4C4C4
}

.content{
    position: relative;
    padding-left: 250px;
    padding-top: 100;
}

.list{
    position: relative;
    display:flex;
    flex-direction: column;
}

.rectangle{
    position: sticky;
    top: 93px;
    width: 780px;
    padding-left:10px;
    margin-top:110px;
    height: 41px;
    background-color: #590BFF;
    margin-bottom:10px;
    z-index: 1;
}

ul.list li
{
    list-style-type: none;
}


.heading{
    position: sticky;
    padding-top: 20px;
    padding-left: 5px;
    color: white;
    padding-bottom: 10px;
    
}

.nav{
    position: relative;
    padding-top: px;
    padding-left: 10px;

}









