h1 {
    color:black;
    background-color:#ccc;
    text-align:left;
    padding: 50px;
}
img{
    display: block;
    max-width: 100px;
}
section{
    color:black;
    background-color:antiquewhite;
    text-align:left;
    padding: 50px;
}
h2{
    color:black;
    background-color:#ccc;
    text-align:left;
    padding: 50px;
}
footer {
    color:black;
    background-color:#ccc;
    text-align:left;
    padding: 50px; 
}