*{
    padding: 0;
    margin: 0;
    border: 0;
}

.header{
    display: flex;
    height: 90px;

    background-color: #EDD603;

}

.logo1{
    height: 80px;
    width: 80px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 50%;
}

.title{
    margin-top: 25px;
    padding-left: 15px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;

    color: #652D90;
}

.container{
    display: flex;
     flex-wrap: wrap;
     justify-content: start; 
}

.card{
    margin-top: 20px;
    margin-left: 20px;
    flex: 0 0 0%;
    width: 300px;

    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img{
    border-radius: 20px 20px 0px 0px;  
}

.h2{
    padding-left: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.footer{
    display: flex;
    width: 100%;
    margin-top: 25px;

    background-color: #535252;
}

.column{
    height:300px;
    width: 300px;
    padding-top: 25px;
    padding-left: 30px;
}

.list{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.nav{
    padding-top: 5px;
    padding-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    list-style-type: none;
    color: #FFFFFF; 
}

.search{
    padding-left: 0%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.column1{
    width: 250px;
    height: 250px;
    margin-left: 400px;
}
.logo2{
    padding-top: 30px;
    width: 250px;
    height: 250px;

    border-radius: 50%;
}

h3{
    padding-left: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #ffffffde;
}

















 






