*{
    padding: 0;
    margin: 0;
    border: 0;
}

.wrapper{

    width: 70%;

    margin: 0 auto;

    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px ;
    background: #FFFFFF;

}

.header{

    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    background-color: #EDD603;
}

.left_column{

    display: flex;
    flex-direction: row;
}
  

.logo1{
    height: 70px;
    width: 70px;
    padding-left: 30px;
    padding-top: 10px;
    transition: 300ms;
}

.logo1:hover{
    transform: scale(1.2);
}

.title{

    margin-top: 25px;
    padding-left: 25px;
    
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;

    color: #652D90;
}

.menu{

    display: flex;
    width: 300px;
    justify-content: space-between;
    padding-right: 2%;
    padding-top: 2%;
    max-height: 50px;
}

.mainRef{

    text-decoration: none;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    vertical-align:bottom;
    flex-grow: 1;

    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;

    color: #652D90;
}

.mainRef:hover {
    text-decoration-color: #652D90;     
}

.contacts{
    border-radius: 15px;

    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    background-color: #FFFFFF;

    transition: text-decoration-color 300ms;
   
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    
    color: #652D90;
} 

.contacts:hover {
    text-decoration-color: #652D90;     
}

.content{

    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    padding-top: 25px;
   
    margin: 0 auto;
    margin-top: 3%;
    
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
}

.suuportTitle{

    margin-top: 2%;
    text-align: center;
    
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 320px;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.form{
    display: flex;
    flex-direction: column;
    padding-top: 9%;
    
}
.name{

    width: 93%;
    height: 58px;
    margin-left: 3%;
    padding-left: 1%;
    margin-top: 0%;

    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    
    color: black;
    font-family: 'Roboto', sans-serif;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mail{

    width: 93%;
    height: 58px;

    margin-top: 4%;
    margin-left: 3%;
    padding-left: 1%;
    font-family: 'Roboto', sans-serif;
    color: black;
    

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gender{

    margin-top: 3%;
    margin-left: 3%;
    padding-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 4200;
    font-size: 17px;
    line-height: 28px;

    color: #A39F9F;
}

.radio1{

    margin-top: 1%;
    margin-left: 3%;
    padding-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 4200;
    font-size: 17px;
    line-height: 28px;

    color: #A39F9F;
}


.radio2{

    margin-top: 1%;
    margin-left: 3%;
    padding-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 4200;
    font-size: 17px;
    line-height: 28px;

    color: #A39F9F;
}

.textInput{

    width: 93%;
    height: 320px;
    margin-left: 3%;
    margin-top: 2%;
    padding-left: 1%;
    resize: none;
    
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 30px;

    color: black;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.checkbox{

    margin-left: 3%;
    margin-top: 5%;
    padding-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #797979;
}

.button{
    width: 20%;
    margin:0 auto;
    margin-top: 3%;
    margin-bottom: 3%;

    background-color: #EDD603;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button:hover{
    transform: scale(1.2);
}

.footer{
    display: flex;
    width: 100%;
    height: 250px;
    margin-top: 4%;

    background-color: #535252;
}   


.column{
    height:300px;
    width: 21%;
    padding-top: 25px;
    padding-left: 25px;
}

.list{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    color: #FFFFFF;
}

.nav{
    padding-top: 5px;
    padding-left: 7px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:  1.40rem;
    line-height: 21px;

    list-style-type: none;
    color: #FFFFFF; 
}

.search{
    padding-left: 0%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.logo2{
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 115px;
    width: 80%;
    height: 200px;
    transition: 1s;
}

.logo2:hover{
    transform: scaleX(-1);
}

h3{ 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    text-align: end;
   
    color: #ffffffde;
}

@media screen and (max-width: 767px) and (min-width: 320px) {

.wrapper{
    position: relative;
    width: 320px;
    height: 1760px;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    background-color: #ffffff;

}  

.header{
    width: 320px;
    height: 140px;
    flex-direction: column;
    background-color:#FFFFFF;

    border-radius: 10px;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
}

.left_column{
    width: 320px;
    height: 70px;

    background-color: #EDD603;
       
}


.logo1{
    width: 40px;
    height: 40px;
    padding-left: 16px;
    padding-top: 19px;
}

.title{
    width: 207px;
    height: 28px;
    left: 76px;
    top: 25px;
        
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
        
    color: #652D90;
}

.menu{
    width: 315px;
    height: 65px;

    padding-top: 10px;
        
    flex-direction: row;
    background-color: #EDD603;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
        
}

.mainRef{
    margin: 10px 10px 10px 10px;
      
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 17px;
        

    color: #652D90;
}

.contacts{
    margin: 10px 10px 10px 10px;
        
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 17px;

    color: #652D90;
}

.content{
    width: 288px;
    height: 760px;
    margin-top: 5%;
       
}

.suuportTitle{
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 17px;
}
    
.form{
    position: relative;
    margin-top: 6%;
}
    
.name{
    width: 93%;
    height: 36px;
    padding-left: 2%;
    color: #000;

    font-size: 18px;
}
    
.mail{
    width: 93%;
    height: 36px;
    color: #000;

    margin-top: 4%;
    margin-left: 3%;
    padding-left: 2%;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gender{
     margin-top: 6%;
    margin-left: 3%;
    padding-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 4200;
    font-size: 17px;
    line-height: 28px;

    color: #A39F9F;
}

.radio1{
    margin-top: 1%;
    margin-left: 3%;
    padding-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 4200;
    font-size: 17px;
    line-height: 28px;

    color: #A39F9F;
}


.radio2{
    margin-top: 1%;
    margin-left: 3%;
    padding-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 4200;
    font-size: 17px;
    line-height: 28px;

    color: #A39F9F;
}

.textInput{

    width: 93%;
    height: 320px;
    margin-left: 3%;
    margin-top: 2%;
    padding-left: 1%;
        
    color:#000000;
        
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 30px;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

    

.checkbox{

    margin-left: 3%;
    margin-top: 8%;
    padding-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;

    color: #797979;
}

.button{
    width: 45%;
    margin-top: 15%;
       
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;


    background-color: #EDD603;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
    
.footer{
    display: block;
    width: 288px;
    height: 800px;
    margin: 0 auto;
        
    
    background: #535252;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
    
.column{
    width: 288px;
    height: 161px;  
}
    
.list{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
    
.nav{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px; 
}
    
.search{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    color: #FFFFFF;
}
    
.logo2{
     width: 181px;
    height: 181px;
        
    margin-left: 25px;
}
    
.h3{
    padding-left: 12%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    margin-right: 85px;
            
    text-align: center;
    color: #FFFFFF;
}
}