*{
    padding: 0;
    margin: 0;
    border: 0;
}

.wrapper{
    
    width: 85%;
    margin: 0 auto;


    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px ;
    background: #FFFFFF;

}

.header{
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    background-color: #EDD603;
}

.left_column{
    display: flex;
    flex-direction: row;
}
  

.logo1{
    height: 70px;
    width: 70px;
    padding-left: 30px;
    padding-top: 10px;

    transition: 300ms;
}

.logo1:hover{
    transform: scale(1.2);
}

.title{
    margin-top: 6%;
    padding-left: 25px;
    
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;

    color: #652D90;
}

.menu{
    display: flex;
    width: 25%;
    justify-content: space-between;
    padding-right: 3%;
    padding-top: 2%;
    max-height: 50px;
}

.mainRef{
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align:bottom;
    flex-grow: 1;

    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    
    transition: 300ms; 

    color: #652D90;
}

.mainRef:hover {
    text-decoration-color: #652D90;     
}

.contacts{
    text-decoration: none;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    padding: 5px 0px 5px 15px;

    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: 300ms; 

    color: #652D90;
} 

.contacts:hover {
    text-decoration-color: #652D90; 
}


.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1081; 
    margin-top: 40px;
}

.card{
    margin-top: 40px;
    margin-left: 45px;
    flex: 0 0 0%;
    width: 100%;

    transition: 300ms;

    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card:hover{
    transform: scale(1.2);
}

.ribbon {
    position: relative;
    text-transform: uppercase;
    color: #652D90;
}

.ribbon4 {
    position: absolute;
    top: 15px;
    padding: 8px 10px;
    background: #EDD603;
    box-shadow: -1px 2px 3px rgba(0,0,0,.3);
}

.ribbon4:before, .ribbon4:after {
    content: "";
    position: absolute;
}

.ribbon4:before {
    width: 7px;
    height: 100%;
    top: 0;
    left: -6.5px;
    padding: 0 0 7px;
    background: inherit;
    border-radius: 5px 0 0 5px;
}

.ribbon4:after {
    width: 5px;
    height: 5px;
    bottom: -5px;
    left: -4.5px;
    background: rgb(200, 173, 230);
    border-radius: 5px 0 0 5px;
}

.img{
    border-radius: 20px 20px 0px 0px;  
}

.h2{
    padding-left: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.footer{
    display: flex;
    width: 100%;
    height: 250px;
    margin-top: 3%;

    background-color: #535252;
}   


.column{
    height:300px;
    width: 21%;
    padding-top: 25px;
    padding-left: 25px;
}

.list{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    color: #FFFFFF;
}

.nav{
    padding-top: 5px;
    padding-left: 7px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:  1.20rem;
    line-height: 21px; 
    
    list-style-type: none;
    color: #FFFFFF; 
}

.search{
    padding-left: 0%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.logo2{
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 115px;
    width: 80%;
    height: 200px;

    transition: 0.7s;
}

.logo2:hover{
    transform: scaleX(-1);
}

h3{ 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    text-align: end;
   
    color: #ffffffde;
}

@media screen and (max-width: 767px) and (min-width: 320px) {

.wrapper{
    position: relative;
    width: 320px;
    height: 1729px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    background-color: #ffffff;
}  

.header{
    width: 320px;
    height: 140px;
    flex-direction: column;
    background-color:#FFFFFF;

    border-radius: 10px;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
}

.left_column{
    width: 320px;
    height: 70px;

    background-color: #EDD603;
       
}


.logo1{
    width: 40px;
    height: 40px;
    padding-left: 16px;
    padding-top: 19px;
}

.title{
    width: 207px;
    height: 28px;
    left: 76px;
    top: 25px;
        
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
        
    color: #652D90;
}

.menu{
    width: 313px;
    height: 67px;

    padding-top: 10px;
        
    flex-direction: row;
    background-color: #EDD603;
        
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.mainRef{
    margin: 10px 10px 10px 10px;
      
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 17px;
        

    color: #652D90;
}

.contacts{
    margin: 12px 12px 12px 12px;
            
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 17px;

    color: #652D90;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
    width: 288px;
    height: 760px;
    margin-left: 16px;
}
  
.card{
    width: 130px;
    height: 175px;
    margin-top: 10px;
    margin-left: 3%;

    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ribbon4 {
    height: 14px;
}
  
.img{
    width: 130px;
    height: 137px;

    border-radius: 20px 20px 0px 0px;  
}

.h2{
    width: 92px;
    height: 21px;
    left: 7px;
    top: 143px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.footer{
    display: block;
    width: 288px;
    height: 810px;
    margin: 0 auto;

    background: #535252;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.column{
    width: 288px;
    height: 161px;  
}

.list{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
}

.nav{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px; 
    font-family: 'Roboto', sans-serif;
}

.search{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.logo2{
    width: 181px;
    height: 181px;
    margin-left: 20px;
}

.h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    margin-right: 85px;
        
    text-align: center;
    color: #FFFFFF;
}
}

